{
  "extends": ["standard"],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"]
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
